<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dressmall.mapper.BoardMapper">
	<!-- 후기 삭제 (박시현) -->
	<delete id="deleteBoard" parameterType="com.project.dressmall.vo.Board">
		DELETE FROM board 
		WHRER orders_no = #{orderNo}
	</delete>
	<!-- 후기 추가 폼에 쓸 goods/orders정보 (박시현) -->
	<select id="selectBoardList" parameterType="map" resultType="map">
		SELECT
		     o.orders_no ordersNo
		    , o.goods_no goodsNo
		    , o.orders_amount ordersAmount
		    , g.goods_title goodsTitle
		    , g.goods_memo goodsMemo
		    , g.goods_state goodsState
		    , g.goods_price goodsPrice
		    , gf.goods_file_name goodsFileName
		FROM orders o
		LEFT OUTER JOIN goods g ON o.goods_no = g.goods_no
		LEFT OUTER JOIN goods_file gf ON g.goods_no = gf.goods_no
		WHERE o.orders_no = #{ordersNo}
	</select>
	<!-- 후기 추가 (박시현) -->
	<insert id="insertBoard" parameterType="com.project.dressmall.vo.Board">
	    INSERT INTO board (
		    orders_no
		    , board_content
	    )
	    VALUES (
		    #{ordersNo}
		    , #{boardContent}
	    )
	</insert>
</mapper>