<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dressmall.mapper.CartMapper">
	
	<!-- /on/customer/addCart : 장바구니 추가.(김혜린) -->
	<insert id="insertCart" parameterType="com.project.dressmall.vo.Cart" useGeneratedKeys="true" keyProperty="cartNo">
		INSERT INTO cart(
			customer_mail
			, goods_no
			, cart_amount)
		VALUES(
			#{customerMail}
			, #{goodsNo}
			, #{cartAmount})	
	</insert>
	
	<!-- /on/customer/paymentList : 결제페이지에서 장바구니에서 체크한 항목만 출력 (진수우) -->
	<select id="selectCartListOne" parameterType="Integer" resultType="map">
		SELECT
			c.cart_no cartNo
			, c.customer_mail customerMail
			, c.goods_no goodsNo
			, c.cart_amount cartAmount
			, c.update_date updateDate
			, c.create_date createDate
			, g.goods_title goodsTitle
			, g.goods_price goodsPrice
			, (c.cart_amount * g.goods_price) goodsTotalPrice
		FROM cart c 
		LEFT OUTER JOIN goods g
		ON c.goods_no = g.goods_no
		WHERE cart_no = #{cartNo};
	</select>
	
	<!-- /on/staff/removeGoods : 상품삭제 시 장바구니 테이블에서 삭제 (진수우) -->
	<delete id="deleteCartByGoods" parameterType="Integer">
		DELETE FROM cart WHERE goods_no = #{goodsNo};
	</delete>
	
	<!-- /on/customer/removeCart : 장바구니에서 리스트 삭제 (진수우) -->
	<delete id="deleteCart" parameterType="Integer">
		DELETE FROM cart WHERE cart_no = #{cartNo};
	</delete>
	
	<!-- /on/customer/cartList : 장바구니에서 리스트 출력 (진수우) -->
	<select id="selectCartList" parameterType="String" resultType="map">
		SELECT
			c.cart_no cartNo
			, c.customer_mail customerMail
			, c.goods_no goodsNo
			, c.cart_amount cartAmount
			, c.update_date updateDate
			, c.create_date createDate
			, f.goods_file_name goodsFileName
			, f.goods_file_ext goodsFileExt
			, g.goods_title goodsTitle
			, g.goods_price goodsPrice
			, (c.cart_amount * g.goods_price) goodsTotalPrice
			, SUM(c.cart_amount * g.goods_price) OVER () totalPrice
			, COUNT(*) OVER () countCartList
		FROM cart c 
		LEFT OUTER JOIN goods_file f
		ON c.goods_no = f.goods_no
		LEFT OUTER JOIN goods g
		ON c.goods_no = g.goods_no
		WHERE customer_mail = #{customerMail};
	</select>
</mapper>