<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dressmall.mapper.CategoryMapper">
	
	<!-- /on/staff/addGoods : 카테고리 리스트 출력(상품등록에서 카테고리 선택시 필요) -->
	<select id="selectCategoryListByGoods" resultType="com.project.dressmall.vo.Category">
		SELECT 
			category_no categoryNo
			, category_title categoryTitle
			, update_date updateDate
			, create_date createDate
		FROM category
		ORDER BY category_no
	</select>
	
	<!-- /on/staff/removeCategory : 카테고리 삭제 -->
	<delete id="deleteCategory" parameterType="Integer">
		DELETE FROM category
		WHERE category_no = #{categoryNo}
	</delete>
	
	<!-- /on/staff/addCategory : 카테고리 추가 -->
	<insert id="insertCategory" parameterType="com.project.dressmall.vo.Category">
		INSERT INTO category(category_title)
		VALUES (#{categoryTitle})
	</insert>
	
	<!-- /on/staff/categoryrList : 카테고리 리스트 출력 -->
	<select id="selectCategoryList" 
		parameterType="Map" resultType="com.project.dressmall.vo.Category">
		SELECT 
			category_no categoryNo
			, category_title categoryTitle
			, update_date updateDate
			, create_date createDate
		FROM category
		ORDER BY category_no
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- /on/staff/categoryrList : 카테고리 리스트 전체 행 개수(페이징에 필요) -->
	<select id="countCategoryList" resultType="Integer">
		SELECT COUNT(*) FROM category	
	</select>
</mapper>