<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dressmall.mapper.OrdersMapper">
	<select id="selectOrdersList" parameterType="com.project.dressmall.vo.Customer" resultType="map">
		SELECT
		    a.address_no addressNo
		    , a.customer_mail customerMail
		    , p.payment_no paymentNo
		    , p.payment_price paymentPrice
		    , p.payment_method paymentMethod
		    , p.payment_state paymentState
		    , o.orders_no ordersNo
		    , o.goods_no  goodsNo
		    , o.orders_amount ordersAmount
		    , g.goods_title goodsTitle
		    , g.goods_memo goodsMemo
		    , g.goods_price goodsPrice
		    , gf.goods_file_name goodsFileName
		    , gf.goods_file_ext goodsExt
		FROM address a
		LEFT OUTER JOIN payment p ON p.address_no = a.address_no
		LEFT OUTER JOIN orders o ON o.payment_no = p.payment_no
		LEFT OUTER JOIN goods g ON o.goods_no = g.goods_no
		LEFT OUTER JOIN goods_file gf ON g.goods_no = gf.goods_no
		WHERE a.customer_mail = #{customerMail}
	</select>
</mapper>