<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dressmall.mapper.PaymentMapper">

<!-- /on/staff/paymentList : 관리자페이지에서 결제리스트 출력 -->
<select id="selectPaymentList" resultType="map">
	SELECT 
		p.payment_no paymentNo
		, a.customer_mail customerMail
		, a.address_detail addressDetail
		, p.payment_price paymentPrice
		, p.payment_method paymentMethod
		, p.payment_state paymentState
	FROM payment p LEFT OUTER JOIN address a
	ON p.address_no = a.address_no;
</select>

<!-- /on/staff/paymentUpdate : 관리자페이지에서 배송중으로 업데이트 -->
<update id="updatePayment" parameterType="Integer">
	UPDATE payment SET payment_state = '배송중' WHERE payment_no = ${paymentNo};
</update>

</mapper>