<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dressmall.mapper.StaffMapper">
	<select id="staffLogin" 
			parameterType="com.project.dressmall.vo.Staff"
			resultType="com.project.dressmall.vo.Staff">
		SELECT 
			staff_id staffId
			, staff_pw staffPw
		FROM staff
		WHERE staff_id = #{staffId} AND staff_pw = #{staffPw}
	</select>
</mapper>